/*
*,*::before,*::after{
    outline:solid 1px red !important;
}
*/
hr{
    border-color: cornsilk;
}
:root {
    --question-main-color:  #006600; 
}

body {
    padding: 0;
    /* background-image: url("../images/forumWallpaper.jpg"); */
     background: #1B1B1B;
     /*
background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 ); */
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    /*animation-name: fadeIn;
    animation-duration: .5s;*/
    /* font-family: 'Modern Antiqua', cursive; */
}

.forumContainer{
   
    min-height: 120vh;
    height:auto;
    padding-bottom: 100px;
    
}
.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
}



body * {
    box-sizing: border-box;
    
}

a {
    text-decoration: none !important;
    /*color: white !important;*/
}


textarea{
    /* background-color:#262626 !important; */
}

/*
-----------------------------------
                HEADER
-----------------------------------
*/
.forumHeader {

    position: relative;
    width: 100%;
    padding: 0;
    height: 70px;
    /*background: linear-gradient(to left, #ed213a, #93291e);*/
    background-color: rgb(255, 51, 51);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color:black;


}

.forumHeader a{
    color:white;
}

.forumHeader .menu a:hover{
    color:white;
}

.logo {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    float: left;
    font-size: 50px;
    color: white;
    height: 100%;
    padding: 10px;
    text-shadow: 0 5px 30px black;
    /*animation-name: fadeIn;
    animation-duration: .5s;
    animation-delay: .5s;*/

}

.menu {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    float: left;
    color: white;
    font-size: 30px;
    padding: 20px;
    height: 100%;

    font-family: 'Modern Antiqua', cursive;
    /*animation-name: fadeIn;
    animation-duration: .5s;
    animation-delay: .5s;*/

}

.loginUser {
    /*display: none;*/
    position: absolute;
    right: 0;
    height: 70px;
    width: 100px;
    margin: 0 auto;
    background-color: white;
    color: red;
    padding: 0;
    cursor: pointer;
}

.loginUser .userInfo {
    position:absolute;
    top:0;
    left:0;
}


.loginUserDiv {
    color: #262626;
    text-decoration: none;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;


}


.userMenu {
    position: absolute;
    right: 0;
    top: 75px;
    width: 250px;
    background-color: #262626;
    color: white;
    z-index: 100;
    text-align: center;
    overflow: hidden;

}

.userMenuContainer {
    position: relative;
    /*top: -15px;*/

}

.menuItem {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    transition: .1s ease;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    color: white;
    text-decoration: none;
    transition: .2s ease;

}

.menuItem:hover {

    text-shadow: 0 0 20px black;



}



.menuItem a {
    color: white;
    text-decoration: none;

}





/*
-----------------------------------
               MAIN
-----------------------------------
*/



.forumMain {
    width:90%;
    display:flex;
    justify-content: space-around;
    font-family: 'Modern Antiqua', cursive;
    margin: 0 auto;
    /*animation-name: fadeIn;
    animation-duration: .1s;
    animation-delay: .5s;*/
    /*padding:10px;*/
}

.forumMain a:hover{
    color:white;
}



.forumContent {
    position: relative;
    width: 74.5%;
    /*width:90%;*/
    top: 100px;
    margin: 0;
    padding: 0;
   /*  animation-name: fadeIn;
    animation-duration: .1s;
    animation-delay: .5s; */
}



/* Menu z wyborem rodzaju filtrowania pytań*/

.topicsMenu {
    display: flex;
    flex-direction: row;
    width: 100%;
    /*background: linear-gradient(to right, #ed213a, #93291e);*/
    background-color: rgb(255, 51, 51);
    height: 70px;
    margin: 0;
    text-align: center;
    /*animation-name: fadeIn;
    animation-duration: .5s;
    animation-delay: .5s;*/

}

.topicsMenu a{
    color:white;
}
.topic {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin: 0;
    color: white;
    transition: .4s ease;
    cursor: pointer;
    width: 20%;
    font-weight: bold;
    /*border-left: 2px solid white;*/
}

.topic a{
    display:flex;
    width:100%;
    height:100%;
     justify-content: center;
    align-items: center;
}
.topic a:hover{
    color:white;
}

.topicActive a:hover{
    color: rgb(255, 51, 51);
}

.topicActive {
    color: rgb(255, 51, 51) !important;
    background-color: white;
}
.topicActive a {
    
    color: rgb(255, 51, 51)!important;

}

.topic:first-child {
    border: none;
}



.topicsGroupTitle {
    box-sizing: border-box;
    padding: 16px 0;
    text-align: center;
    letter-spacing: 3px;
    font-size: 35px;
    color: white;
    width: 100%;
    margin: 10px auto 0 auto;
    height: 70px;
    background-color: #262626;
}

/*-----------------------------------------------------------*/

/*   Pytania, divy trzymające podstawowe dane o pytaniu      */

.topicsContent {
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    

}



/*------------------------------------------------------------*/

/*Boczny panel forum , wyszukiwanie , dodawanie pytania , kategorie*/

.forumNav {

    position: relative;
    top: 100px;
    width: 25%;
    max-height: 100vh;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0;
    /*animation-name: fadeIn;
    animation-duration: .5s;
    animation-delay: .5s;*/
    /*margin-left:10px;*/
}

.inputHolder {
    position: relative;
    top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.topicsSearch {
    position: relative;
    width: 70%;
    height: 40px;
    padding: 10px 5px;
    border: 2px solid #262626;
    border-right: none;
    transition: .4s ease;
    font-size: 20px;
    color: rgb(255, 41, 41);
    outline: none;

}

.searchIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #262626;
    color: white;
    font-size: 17px;
    width: 20%;
    transition: .2s ease;
    cursor: pointer;

}

.searchIcon:hover {
    background-color: rgb(255, 51, 51);
    color: white;
}

.topicsSearch:focus {
    box-shadow: 0 0 10px #262626;
}

.askQuestion {
    width: 90%;
    padding: 10px;
    font-size: 25px;
    color: white;
    background-color: #262626;
    text-align: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    transition: .2s ease;
    cursor: pointer;
    border: 2px solid #262626;
}
.askQuestion a{
    /* display: flex;
    justify-content: center;
    align-items: center;
     */
}
.askQuestion a span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    padding-right:15px;

}
.askQuestion a span:after{
    content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  
}

.askQuestion a:hover span{
    padding-right: 30px;    
}

.askQuestion a:hover span:after{
    opacity: 1;
    right: 0;
}

.askQuestion:hover {
    /* background-color: rgb(255, 51, 51);
    border: 2px solid rgb(255, 51, 51); */
}

.categories {
    width: 90%;
    /* height:300px;*/
    position: relative;
    top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #262626;
    padding-bottom: 40px;
}


.categoriesTitle {
    width: 100%;
    padding: 10px 0;
    background-color: rgb(255, 41, 41);
    font-size: 25px;
    color: white;
    text-align: center;

}




/*-----------------------------------------------------------*/

/*Wygląd pojedynczego posta*/

.post {
    display: grid;
    grid-template-areas: 'stat topic topic topic topic topic topic ' 'stat  data data data data data data ';
    grid-gap: 10px;
    width: 100%;
    background-color: #333333;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    /*opacity:0;*/
    padding: 10px;
    animation-duration: .5s !important;
    align-content: center;

}

.post div {
    padding: 10px;
    color: white;
    /* text-align: center;*/
}

.post a{
    color: var(--question-main-color) !important;
}

.stats {
    background-color:/*forestgreen*/var(--question-main-color) ;
    grid-area: stat;
    text-align: center;
    padding: 0 !important;
    width: 240px !important;
    /*height:100px !important;*/
}

.ans {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50% !important;
    height: 100%;
    background-color: cornsilk;
    color: /*green*/ var(--question-main-color)  !important;
    font-size: 20px;
}

.votes {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 20px;
}

.postData {

    /* background-color:orangered;*/
    grid-area: data;
    text-align: left;
    font-size: 20px;
}

.postTopic {
    /* background-color:orangered;*/
    grid-area: topic;
    color: /*forestgreen*/ var(--question-main-color)  !important;
    cursor: pointer;
    transition: .4s ease;
    font-size: 30px;
    border-bottom: 2px solid black;
    padding: 5px;
    overflow: hidden;

}

.postTopic:hover {
    text-decoration: underline;
}

/*Poszczególne kategorie , wygląd i rozmieszczenie , display: grid, 9 kategorii. */

/*-----------------------------------------------------------*/

.categoriesItems {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 20px;
    margin-top: 20px;

}

.category {
    text-align: center !important;
    color: white;
    font-size: 40px !important;
    cursor: pointer;
    transition: .2s ease;
    position: relative;

}

.category:hover {
    background-color: #151515;
}

.category i:hover {
    transition: .2s ease;
}

.category i:hover {
    color: #0e0639 !important;


}

.category .tooltip {
    text-align: center !important;
    font-size: 15px !important;
}

.category:hover .tooltip {
    opacity: 1;

    /*left: 0;*/
    /* top:40px;*/
    animation-name: fadeInDown;
    animation-duration: .2s;

}

.category:not(:hover) .tooltip {

    animation-name: fadeOutUp;
    animation-duration: .2s;
}

.flaticon-gym {
    font-size: 40px;
}


.tooltip {
    transition: .2s ease;
    font-size: 15px;
    opacity: 0;
    /*top:20px;*/
    /*left: 15px;*/
    background-color: #151515;
    position: absolute;
    padding: 5px;
    width: 100%;
    z-index: 10;
}

.socialMedia {

    position: relative;
    top: 70px;
    margin: auto;
    width: 80%;
    text-align: center;
}

.media {
    width: 25%;
    float: left;
    font-size: 40px;

}


.media:hover {
    animation-name: pulse;
    animation-duration: .3s;
}

.media:not(:hover) {
    animation-name: pulseOut;
    animation-duration: .3s;
}

.fa-youtube {
    color: red;
}


.fa-twitter {
    color: #0099cc;
}

.fa-instagram {
    color: #363652;
}

.statistics {
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 50px;
    display: grid;
    grid-template-columns: auto auto;
}

.statisticData {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    height: 100px;
}

/*
----------------------------------------------------------------
*/

footer {
    width: 100%;
    padding: 15px;
    font-size: 15px;
    text-align: center;
    background-color: black;
    color: white;
    position: relative;
    bottom: 0;
}

/*Strzałka przewijając ekran w górę*/

.arrow {
    position: fixed;
    bottom: 15px;
    right: 15px;
    float: right;
    width: 50px;
    height: 50px;
    font-size: 40px;
    padding: 5px;
    display:flex;
    
    background-color: rgb(255, 41, 41);
    color: white;
    border-radius: 5px;
    transition: .4s ease;
    cursor: pointer;
    display: none;
}

.arrow:hover {
    background-color: white;
    color: rgb(255, 41, 41);
}


.post a {
    text-decoration: none;
    color: forestgreen;
}

.post a:hover {
    text-decoration: underline;
    color:green;
}

/*----------------------------------------------------------------*/

.userIcon {
    color: white;
    text-align: center;
    font-size: 100px;
}


/*
-----------------------------------
            SCROLL BAR
-----------------------------------
*/

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #ff3333;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #ff1a1a;
}

.askQuestion a {
    color: white;
    text-decoration: none;
}

.userOptionsList {
    padding: 0;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid cornsilk; 
    /* border-top:none; */
    animation-duration:.3s !important;
}

.userOptionsList li a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.userOptionsList li span {  
    margin-left:10px;
}

.logOut:hover {
    background-color: rgb(255, 51, 51);
}

.userOptionsList li {
    padding: 10px;
    /* border-bottom: 1px solid cornsilk; */
    
    text-align: center;
}

.userOptionsList li:last-child {
    border: none;
}

.userOptionsList li:not(.logOut):hover {
    background-color: #373737;

}

.confirmationButton,
.shortConfirmationButton {
    background-color: rgb(255, 51, 51);
    color: white;
    width: 99%;
    margin: 5px;
    text-align: center;
    padding: 16px 8px;
    cursor: pointer;
    display: inline-block;
}

.confirmationButton:hover,
.shortConfirmationButton:hover {
    background-color: red;
}

.shortConfirmationButton {
    width: 20%;
    margin: 5px;

}

.verificationCodeInput {
    width: 75%;
    padding: 16px 8px;
    background-color: #262626;
    color: rgb(255, 51, 51);
}

.answerQuestionDiv {
    width: 90%;
    overflow: hidden;
    max-height:auto;
    margin: 10px auto;
    transition: .5s;
    -webkit-transition:- .5s;
       -moz-transition:  .5s;
        -ms-transition:  .5s;
}

.ansInvisible{
    max-height:0;
   
}



.answerQuestionDiv textarea {
    background-color: white;
    width: 100%;
    color:white;
    font-size: 20px;
    z-index: 1000000000000000;



}

.answerQuestionDiv span {
    color: #262626;
    font-size: 30px;
}

.title {
    margin-bottom: 10px;
}

.sendAnswer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    padding: 16px 8px;
    background-color: forestgreen;
    width: 200px;
    transition: .2s ease;
    cursor: pointer;
}

.sendAnswer:hover {
    background-color: darkgreen;
}

.user {
    width: 100%;
    display: flex;
    justify-content: center;
    color: cornsilk;
}

.userPersonalData {
    float: left;
    width: 49%;
    padding: 10px;
    margin-right: 1%;
    background-color: #262626;

}

.userForumData {
    float: left;
    width: 49%;
    /*height: 500px;*/
    background-color: #262626;
    padding: 10px;

}

.login .imgcontainer i {
    font-size: 100px;
    color: forestgreen;
}

ul {
    list-style-type: none;
    font-size: 20px;
    text-align: left;
    padding: 0;
    margin-top: 20px;
}

.userPersonalData li, .userForumDataList li{
    border-bottom: 1px solid grey;
}

li {
   
    padding: 15px;


}

li:last-child {
    border: none;
}

.title {
    margin-right: 10px;

}

.value {
    width: 40%;
    float: right;
    text-align: left;
}


/*--------------------------------------------------------------------*/

.profileImage {
    color: cornsilk;
    font-size: 100px;
    display: flex;
    /* justify-content: center; */
    position: relative;

}

.profileImage img{
    width: 100px;
    height: 100px;
    /* border-radius : 50%; */
    position:relative;
    top:10px;
    left : 10px;
}


/*--------------------------------------------------------------------*/

.editProfile {

    margin: 10px;
    padding: 20px;
    max-width: 200px;
    text-align: center;
    background-color: forestgreen;
    font-size: 20px;
    display: block;
   
}

.editProfile a{
    color:cornsilk;
}

.editProfile:hover {
    background-color: darkgreen;
}

.userForumDataTitle {
    /* text-align: center; */
    margin: 15px 0;
    font-size: 25px;
}

/*--------------------------------------------------------------------*/

.userProfileEdit {

    color: #262626;
    padding: 10px;

}

.userProfileEditList {
    width: 90%;
    margin: 0 auto;

}

.changePasswordList {
    width: 90%;
    margin: 0 auto;

}

.saveProfile {
    margin: 15px 0 30px 5%;
    width: 200px;
    padding: 15px;
    background-color: forestgreen;
    color: cornsilk;
    text-align: center;
}

.saveProfile:hover {
    background-color: darkgreen;
}

.userEditTitle {

    font-size: 30px;
}

.userEditTextPart {
    width: 30%;
    display: inline-block;
}

.userEditInputPart {
    width: 69%;
    display: inline-block;
}

.userEditInputPart input {
    width: 100%;
    padding: 5px;
}

.savePassword {
    width: 200px;
    margin: 15px 0 0 5%;
    padding: 15px;
    color: cornsilk;
    background-color: #0066ff;
    text-align: center;
}

.savePassword:hover {
    background-color: #0044dd;
}

/*-----------------------------------------------*/

.messageData .close {
    position: absolute;
    padding: 8px 16px;
    color: rgb(255, 51, 51);
    background-color: white;
    font-size: 15px;
    right: 5px;
    top: 5px;
    border-radius: 5px;
    border: 2px solid rgb(255, 51, 51);
}

.messageData .close  .close:hover {
    color: white;
    background-color: rgb(255, 51, 51);

}

.login,
.register {
    position: fixed;
    width: 100%;
    height: 200vh;
    z-index: 9999;
    background-color: rgb(38, 38, 38);
    background-color: rgba(38, 38, 38, 0.9);

}

.visible{
    display: block;
}

.invisible{
    display:none;
}



.loginContent,
.registerContent {
    position: fixed;
    width: 40%;
    margin: 10px auto;
    background-color: cornsilk;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    top:10%;
    animation-duration: .5s !important;

}



.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}



/* Full-width inputs */

.login input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.register input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Set a style for all buttons */

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    /*width: 49.7%;*/
}

/* Add a hover effect for buttons */

button:hover {
    opacity: 0.8;
}


/* Center the avatar image inside this container */

.imgcontainer {
    text-align: center;
    font-size: 45px;
    color: forestgreen;
    margin: 24px 0 12px 0;
}

/* Avatar image */

img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */

.container {
    padding: 16px;
}

/* The "Forgot password" text */

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.colorRed {
    color: red;
}

.colorGreen {
    color: green;
}

.colorWhite {
    color: white;
}

.transition {
    transition: .4s ease;
    cursor: pointer;
}

/*-------------------------------------------------------------------*/

/*POST CONTENT  DISPLAY FLEX*/

/*-------------------------------------------------------------------*/

.postContent {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    align-items: center;
   
}


/* Łapki w górę/dół */

/*-------------------------------------------------------------------*/

.postContentEvaluations {
    grid-area: eval;
    text-align: center;
    font-size: 25px;
    /*max-width: 150px;*/
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}




/*-------------------------------------------------------------------*/

.answerVotesCounter,
.votesCounter {
    margin-left: 5px;
    text-align: center;
}

.postContentTopic {
    grid-area: topic;
    width: 75%;
    font-size: 25px;
    color: white;
    padding: 0 15px;
}

.postContentTopic i{
    right : 10px;
    top:10px;
    transition : .3s ease;
    cursor : pointer;
}

.postContentTopic i:hover{
    color : cornsilk !important;
}

.postContentTopic a {
    text-decoration: none;
    color: green;
}

.postContentTopic a:hover {
    text-decoration: underline;
}

/*Odnośnik do użytkownika*/

/*-------------------------------------------------------------------*/

.userAvatar {
    grid-area: avatar;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    color: cornsilk;
    background-color: gray;
    padding: 0;
    /*max-width: 150px;
    min-width: 70px;*/
    width: 10%;
    padding: 20px 0;
    position: relative;

}

.userAvatar:hover {
    background-color: darkgray;
}
.userAvatar i{
    color: cornsilk;
}

/*TREŚĆ PYTANIA*/

/*-------------------------------------------------------------------*/

.postContentText,
.answerContentText {
    /*grid-area: cont;*/
    padding: 5px 50px;
    text-align: justify;
    font-size: 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    white-space: pre-wrap;

}

.answerContentText {
    margin-bottom: 20px;
}

/*ODPOWIEDZ NA PYTANIE*/

/*-------------------------------------------------------------------*/



.answer {
    width: 20%;
    padding: 10px;
    background-color: green;
    text-align: center;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border: 2px solid green;
    font-weight: bold;
}

.answer:hover {
    background-color: darkgreen;
    color: white;
}


/*PODOBNE PYTANIA*/

/*-------------------------------------------------------------------*/

.otherQuestions {
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #262626;
    color: white;
    font-weight: bold;
}


.postContentHeader {
    /*display: grid;
    grid-template-areas: 'eval topic topic topic topic topic topic avatar';
    grid-gap: 10px;*/
    display: flex;
    justify-content: space-between;
    background-color: #262626;
}

.postContentMain {
    display: grid;
    margin-top: 30px;
    grid-template-columns: auto;
    padding: 0px 50px;
}


/*WSZYSTKIE ODPOWIEDZI*/

/*-------------------------------------------------------------------*/

.beforeAnswers {
    width: 100%;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    background-color: green;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 100px;

}

.answers {
    width: 100%;
    margin: 0 auto;
}

.loadingDiv {
    color: #262626;
    font-size: 45px;
    position: absolute;
    padding: 10px;
    z-index: 999999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.postText {
    display: none;
}

.askingQuestionDiv {
    width: 100%;
}

.questionTopic {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #262626;
    padding: 5px 10px;
    color: cornsilk;
    font-size: 20px;
}


.questionContent {
    width: 100%;
    color: cornsilk;
    font-size: 20px;
    background-color: #262626;
    padding: 5px 10px;
    white-space: pre-line;
    white-space: pre-wrap;
}

/*the container must be positioned relative:*/

/*
.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none !important;
   
}

.select-selected {
    background-color: #262626;
}



.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}



.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}


.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}



.select-items {
    position: absolute;
    background-color: #262626;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}



.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

*/

.saveQuestion {
    color: white;
    font-size: 25px;
    padding: 16px 8px;
    background-color: forestgreen;
    width: 200px;
    text-align: center;
    transition: .4s ease;
    cursor: pointer;

}

.saveQuestion:hover {
    background-color: darkgreen;
}

.plus,
.minus,
.answerPlus,
.answerMinus {
    cursor: pointer;
    color: lightblue;
}

.plus:hover,
.answerPlus:hover {
    color: green;
}

.minus:hover,
.answerMinus:hover {
    color: red;
}

.message a{
    margin-left:10px;
    color:green;
}

.message a:hover{
    text-decoration: underline;
}
.writeMessageDiv {
    padding: 8px 16px;


}

.writeMessage{
    width:200px;
}
.sendMessage {
    width:200px;

}




.userNick {
    width: 30%;
    background-color: #262626;
    padding: 4px 8px;
    color: cornsilk !important;
}

.userNick:focus{
    background-color: #262626;
}


.messageContent {
    width: 100%;
    background-color: #262626;
    padding: 4px 8px;
    color: cornsilk !important;
    white-space: pre-line;
    white-space: pre-wrap;

}
.messageContent:focus{
    background-color: #262626;
}
.greyLine {
    width: 100%;
    margin: 10px 0px;
    background-color: #262626;
    height: 5px;
}

.message {

    /*border: 2px solid #262626;*/
    width:100%;
    
    margin: 20px 0px;
    cursor: pointer;
    transition: .2s ease;
    box-shadow: 0px 10px 10px 2px #262626;
    
}




.messageText {
    /*background-color: cornsilk;*/
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;
    color: #262626;
    padding: 10px;


    transition: .2s ease;
}

.messageData {
    background-color: #262626;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;
    color: cornsilk;
    position: relative;
   /* padding: 10px;*/
   line-height: 2em;
}

.messageData p{
    margin:0;
    padding-left: 10px;
}


.messageListOption{
    display:flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    /*background-color: rgb(255, 51, 51);*/
    
}

.messageListOption input[ type= "checkbox"]{
    background-color: #262626;
}

.messageListOption li {

    color:#262626;
    text-align: center;
    cursor: pointer;
    float:left;
    transition: .4s ease;
}

.messageListOption li:hover{
    text-shadow: 0px 0px 10px;
}




.setRead,
.deleteMessage {

    height: inherit;
    /*padding: inherit;*/
    width: 40px;
    margin: 0;
    position: absolute;
    display: block;
  text-align: center;
    transition: .2s ease;
    cursor: pointer;

}

.setRead {
    right: 40px;
    background-color: green;
}

.deleteMessage {
    right: 0px;
    background-color: red
}

.setRead i,
.deleteMessage i {
    font-size: 23px;
}

.setRead:hover {
    background-color: darkgreen;
}

.deleteMessage:hover {
    background-color: rgb(180, 10, 10);
}

.userLink:hover {
    text-decoration: underline !important;
}

#userLink:hover {
    text-decoration: underline !important;
}

#userAnswerLink:hover {
    text-decoration: underline !important;
}

#categoryLink:hover {
    text-decoration: underline !important;
}

.category i:hover{
    color:white !important;
}

.logo a:hover {
    color: white !important;

}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
   
}

.img-circle{
     border-radius:50%;
}
.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: rgb(255,51,51) !important;
}

::-webkit-scrollbar-thumb
{
    
    background-color: #555;
}

@media only screen and (max-width: 1000px) {

    main{
        display:block;
    }
    
    .forumContent,
    .forumNav{
        width:95%;
        margin: 0 auto;
    }
    .forumNav{
        margin-top:20px;
    }
    
    .arrow{
        display:none;
    }
    
    
}

.messages ul li{
    border:none;
}
.messages .container .row .col-md-6{
    background-color: #262626;
    padding:15px;
    color:cornsilk;
    text-align:center;
    transition: .2s ease;
    cursor: pointer;
}

.messages .container .row .col-md-6:hover{
    background: #373737;
}
.messages .container .row .col-md-6:first-child{
    border-right: 2px solid cornsilk;
}

.messages .container .row .col{
    background-color: green;
    padding:15px;
    color:cornsilk;
    text-align:center;
    transition: .2s ease;
    cursor: pointer;
}

.messages .container .row .col:hover{
    background: darkgreen;
}
.topicsMenu .col-md{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    transition: .4s ease;
    cursor: pointer;
    font-weight: bold;
    color:white;
    /*border-right: 2px solid white;*/
    display:none;
}


.chat-body .header .userLink{
    color: black;
}


@keyframes spinRight {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinLeft {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
.loaderContainer{
    position:relative;
    width:120px;
    height:120px;
    /*background-color: black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
}

.loader, .loaderInner , .loaderInnerSmall {
    position: absolute;    
    border-radius:50%;    
    border-top: 4px solid rgb(255,51,51);
    /* border-bottom: 4px solid rgb(255,51,51); */
    width: 100px;
    height: 100px;
   
}

.loader{
    -webkit-animation: spinRight 2s linear infinite;
    animation: spinRight 1s linear infinite;
    animation-delay:.2s;
}



.loaderInner {
    width: 70px;
    height: 70px;
    -webkit-animation: spinRight 2s linear infinite;
    animation: spinRight 1s linear infinite;
    animation-delay:.1s;
    
}

.loaderInnerSmall{
    width:40px;
    height:40px;
    -webkit-animation: spinRight 2s linear infinite;
    animation: spinRight 1s linear infinite;
    /* animation-delay:.2s; */
}

.registerButton{
    width:100%;
}

@keyframes showMessageAlert{
    from{
        top: -200px;
        opacity: 0;
    }
    to{
        top:0;
        opacity:1;
    }
}

.msgAlertActive{
    animation-name: showMessageAlert;
    animation-duration: 1s;
}

.messageContainerAlert{
    position:absolute;
    width:60%;
    background-color:forestgreen;
    padding:16px;
    text-align:center;
     top:0;
     z-index: 10000;
    left:50%;
    transform: translateX(-50%);
    top:0;
    opacity:0;
    
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    font-size:15px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left:50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}


.setRead:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.deleteMessage:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.loginButton{
    width:100%;
}

.clearSearching{
    width:90%;
    text-align: center;
    font-size: 25px;
    margin: 10px auto 0px auto;
    background-color: #262626;
    border: 2px solid #262626;
    color: cornsilk;
    padding: 10px 8px;
    cursor:pointer;
    transition: .4s ease;
}

.clearSearching:hover{
    background-color: #fff;
    color: #262626;
}

.footerText{
    font-size: 17px;
}

#loginForm, #registerForm{
    animation-duration:.4s;
}

.answerContent{
    color : #262626 !important;
}