 .loginUser .badge{
    border-radius:0;
}

.color-red{
    color: red;
    font-size: 15px !important;
}


/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
                            /* TRAINER REGISTER  */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */


.trainerRegister{
    max-width:100%;
    min-height:100vh;
    background-color: cornsilk;
    overflow-x:hidden;
    background-color: #151515;
}
.trainerRegister form {
    box-shadow : 0px 0px 5px  black;
    border-radius : 5px;
}

.trainerRegister hr {
    border-color : #151515;
}

.trainerRegister label {
    font-weight : bold;
}

.registerTrainerPackages .form-group {
    /* width:30%; */
}

.trainerRegister ul li{
    
    border : none;

}

.tip {
    position: absolute;
    display: inline-block;
  }
  
  .tip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #151515;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity .3s;
  }
  
  .tip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }