


/* Gym MAx */

body {
    margin: 0;
    padding: 0;
    /* background-color: bisque; */
}

body * {
    box-sizing: border-box;
}

/* HEADER */
/* ---------------------------------------------- */
header {
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    grid-column-gap: 100px; 
    background-color: #343a40;
    font-size: 18px;
    text-align: center;

}

/* NAV IN HEADER */
/* ---------------------------------------------------- */

li {
    /*kloci obok siebie w poziomie*/
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: darkgray;
    margin: 5px 10px;
    cursor: pointer;
}

li a:hover {
    color: rgb(221, 219, 219);
}

li a.active {
    color: rgb(221, 219, 219)
}

ul {
    /*display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 10px;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}




/* SECTION IN MAIN */
/* ---------------------------------------------------- */
section h1
{
    /* display: flex;
    justify-content: center; */
    /* height: 5vh; */
    text-align: center;
    letter-spacing: 1.5;
    font-size: 28px;
}
section p{
    text-align: center;
    letter-spacing: 1.5;
    font-size: 18px;
}

.search-box {
    margin: auto;
    background-color: #2f3640;
    height: 4.5%;
    width: 15%;
    border-radius: 40px;
    padding: 10px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 16px;
    width: 100%;
}

/* BUTTON ADD GYM*/
/* ---------------------------------------------------- */
.btn{
    margin-left: 60%;
    width: 170px;
}
#add-gym {
    
    background-color: rgb(207, 105, 46);
    /* Green */
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 160px; 
    margin-right: -10px;
}

section a {
    text-decoration: none;
    cursor: pointer;
    color:white;
}

/* ARTICLE IN MAIN */
/* ---------------------------------------------- */

article {
    background-color: burlywood;
    padding-bottom: 10px;
}

article h1 {
    text-align: center;
    padding-top: 3%;
}

.gym-list-container {
    /* display: flex;
    justify-content: space-around;
    margin: 3%; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 10px;
    width: 90%;
    margin: 50px auto 0 auto;

}

.gym-list-box {
    height: auto;
    /* width: 30%; */
    background-color: #343a40;
    color: rgb(190, 190, 190);

}

.gym-list-header {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    /* margin-left: -5%; */
    width: 100%;
}

.img-holder {
    width: 32%;
    max-width: 90px;
    min-width: 40px;
    height: 90px;
}

.gym-list-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/41/Sunflower_from_Silesia2.jpg");
    background-repeat: no-repeat;
    /* background-position: left 15% top 5%; */
    /* background-size: cover; */
    background-size: 100% 100%;

}

.gym-list-name {
    margin-top: 3%;
    width: 32%;
    line-height: 10px;


}

.gym-list-stars {
    margin-top: 3%;
    color: yellow;
    font-size: 26px;
}

.gym-list-body {
    height: auto;
}


.gym-list-description {
    margin-left: 12%;
    width: 75%;
}

.gym-list-footer {
    display: flex;
    justify-content: space-around;
}

/* .gym-list-offer {} */

/* .gym-list-hours {} */

/* FOOTER */
/* --------------------------------- */
footer {
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 20px;
}



/* RESPONSIVE */
/* -------------------------------------------------- */

@media only screen and (min-width:992px) and (max-width: 1200px) {
    .img-holder {
        max-width: 80px;
        min-width: 40px;
        height: 80px;
    }
}

@media only screen and (min-width:768px) and (max-width: 991px) {
    header {
        /* display: flex;
        justify-content: space-around;
        align-items: center; */
        display: grid;
        grid-template-columns: auto;
        /* grid-column-gap: 10px;  */
        background-color: #343a40;
        font-size: 18px;

    }

    .gym-list-container {
        grid-template-columns: auto auto;
    }

    .img-holder {
        max-width: 60px;
        min-width: 30px;
        height: 60px;
    }
}


@media only screen and (max-width: 767px) {
    
    header {
        /* display: flex;
        justify-content: space-around;
        align-items: center; */
        display: grid;
        grid-template-columns: auto;
        /* grid-column-gap: 10px;  */
        background-color: #343a40;
        font-size: 18px;

    }
    .gym-list-container {
        grid-template-columns: auto;
    }

    .img-holder {
        max-width: 60px;
        min-width: 30px;
        height: 60px;
    }
}



/* GYM LIST */
/* Base Styles */

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.4em;
	color: #222;
	background: #973737;
	font-family: 'Lato', sans-serif;
}

/* img{
	max-width: 100%;
	height: auto;
	border-radius: 3px;
} */

/* a{
	text-decoration: none;
	color: inherit;
} */
li {
    /*kloci obok siebie w poziomie*/
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: darkgray;
    margin: 5px 10px;
    cursor: pointer;
}

li a:hover {
    color: rgb(221, 219, 219);
}

li a.active {
    color: rgb(221, 219, 219)
}

/* Grid */

.section {
	clear: both;
	padding: 0;
	margin: 0;
}

.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child {
	margin-left: 0;
}

.span_3_of_3 {
	width: 100%;
}

.span_2_of_3 {
	width: 66.1%;
}

.span_1_of_3 {
	width: 32.2%;
}

/* Header & Navigation */

header {
	max-width: 100%;


	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-evenly;
	grid-column-gap: 100px;
	background-color: #343a40;
	font-size: 18px;
	text-align: center;
}


ul {
    /*display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 10px;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* HAMBURGER ICON */
/* .menu-bar {
	width: 100%;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	background: #2d2d2d;
	text-align: left;
	padding: 15px 20px;
	color: #fff;
	font-size: 1.4em;
	cursor: pointer;
	display: none;
}

.hamburger-icon {
	float: right;
	clear: both;
	margin-top: -5px;
	font-size: 1.4em;
} */

/* Blog Posts */

.container {
	max-width: 1420px;
	margin: 0 auto;
	padding: 20px;
}

.blog-post {
	background: #fff;
	margin: 0 auto 2em auto;
	padding: 35px 30px;
	box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.3);
}

.side-post {
	background: #fff;
	margin: 0 auto 1.5em auto;
	width: 15em;
	padding: 20px;
}

.blog-content {
	font-size: 1em;
	border-left: 5px solid #8EE5EE;
	padding-left: 15px;
}

.side-content {
	font-size: .9em;
	margin-top: 8px;
	margin-bottom: 0;
}

.blog-title {
	font-size: 2.5em;
	margin-top: 5px;
}

.date {
	font-size: 1em;
	font-weight: 400;
	color: #9C9C9C;
	margin-top: -10px;
	text-decoration: underline;
	text-decoration-color: currentColor;
}



/* Button */

/* .button {
	display: block;
	padding: 15px 20px;
	margin-top: .8em;
	background: #009ACD;
	text-align: center;
	color: #fff;
	font-size: 1.4em;
	border-radius: 3px;
	transition: all .4s ease-in;
}

.button:hover {
	background: #005c7b;
} */


/* FOOTER */
/* --------------------------------- */
footer {
	position: relative;
	clear: both;
    padding: 10px;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 20px;
}

/*Media Queries*/

/* @900px*/
@media only screen and (max-width: 62.25em) {
	header {
        /* display: flex;
        justify-content: space-around;
        align-items: center; */
        display: grid;
        grid-template-columns: auto;
        /* grid-column-gap: 10px;  */
        background-color: #343a40;
        font-size: 18px;

    }
	
	.col {
		margin: 1% 0 1% 0%;
	}

	.span_3_of_3,
	.span_2_of_3,
	.span_1_of_3 {
		width: 100%;
	}

	.side-post {
		width: 42%;
		float: left;
		margin: -2% 0 1% 1.6%;
	}
}

/* @685px*/
@media only screen and (max-width: 42.813em) {
	header {
        /* display: flex;
        justify-content: space-around;
        align-items: center; */
        display: grid;
        grid-template-columns: auto;
        /* grid-column-gap: 10px;  */
        background-color: #343a40;
        font-size: 18px;

    }
	
	.side-post {
		width: auto;
		padding: 15px;
		margin: -2% auto 8% auto;
	}

	.blog-title {
		font-size: 1.95em;
	}

	.date {
		font-size: .9em;
	}

	
}

/* @480px */
@media only screen and (max-width: 30em) {
	nav ul .nav-item {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
		padding: 15px;
	}
}

/* @380px*/
@media only screen and (max-width: 23.75em) {

	.blog-content,
	.post-link {
		font-size: .9em;
	}

	.side-content {
		font-size: .8em;
	}
}