body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /*display: none;*/


}


.mainPageMain a {
    display: block;
    width: 100%;
    height: 100%;
}



/*
-----------------------------------
              HEADER
-----------------------------------
*/


.mainPageHeader {
    position: relative;
    width: 100%;
    height: 35vh;
    background-image: url("../images/body-bg.jpg");
    background-position: center;
    background-size: cover;
    letter-spacing: 5px;
    font-family: 'Coda Caption', sans-serif;
}

.aqua {
    background-color: aqua;
}

.red {
    background-color: red;
}

.caption {
    position: relative;
    top: 0;
    width: 100%;
    height: 20%;
    color: white;
    box-sizing: border-box;
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
    /*border-top: 4px solid white;
    border-bottom: 4px solid white;*/
   /* opacity: 0;*/
    animation-name: fadeIn;
    animation-delay: .5s;
    animation-duration: .5s;



}

.underTitle {
    position: relative;
    width: 100%;
    height: 50%;
    display: block;
    text-align: center;
    box-sizing: border-box;
    font-size: 60px;
    padding-top: 25px;
    color: white;
   /* opacity: 0;*/
    animation-name: fadeIn;
    animation-delay: .5s;
    animation-duration: .5s;
}

.secondUnderTitle {
    position: relative;
    width: 100%;
    height: 20%;
    display: block;
    text-align: center;
    font-size: 30px;
    
    color: white;
    letter-spacing: 8px;
    /*opacity: 0;*/
    animation-name: fadeIn;
    animation-delay: .5s;
    animation-duration: .5s;

}

@keyframes hrAppear{
 from{
     opacity:0;
     width:0%;
 }
 to{
     opacity:1;
     width:80%;
 }

}

@keyframes hrWidth{
    from{
        width:0%
    }
    to{
        width:70%;
    }
}
.mainPageHeader hr {
    position: relative;
    margin: 0 auto;
    width:0%;
    border-color: white;
    border-width:2px;
    animation-name: hrWidth;
    animation-duration: .4s;
    animation-delay:1s;
    
}

/*
-----------------------------------
              MAIN
-----------------------------------
*/

.mainPageMain {
    width: 100%;
    background-color: #151515;
    height: 60vh;
    font-family: 'Coda Caption', sans-serif;


}

.grid {
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 20%;
    justify-content: space-around;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    display: grid;
    animation-name: fadeIn;
    animation-delay: .5s;
    animation-duration: .5s;

}

.item {
    position: relative;
    height: 300px;
    border: 2px solid white;
    cursor: pointer;
    overflow: hidden;
}


img {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    transition: .4s ease;
    /*filter: grayscale(100%);*/
}



.itemCaption {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 51, 51);
    background-color: rgba(255, 51, 51, 0.8);
    transition: .4s ease;
}

.itemInfo {
    position: absolute;
    font-size: 20px;
    color: white;
    width: 100%;
    bottom: 0;
    text-align: center;
    opacity: 0;
    transition: .4s ease;
}

.itemSecondInfo {
    position: absolute;
    font-size: 20px;
    color: white;
    width: 100%;
    bottom: 0;
    text-align: center;
    opacity: 0;
    transition: .5s ease;
}

.item:hover .itemCaption {
    top: -10%;
    opacity: 0;
}

.item:hover .itemSecondInfo {
    bottom: 35%;
    opacity: 1;

}

.item:hover .itemInfo {
    bottom: 50%;
    opacity: 1;

}



/*
-----------------------------------
              FOOTER
-----------------------------------
*/


.przyciemnienie{
        position:absolute;
    background-color: rgb(255,41,41);
        width:100%;
        height:100%;
        z-index:9998;
}
.loading{
        position:absolute;
        vertical-align:middle;
        text-align:center;
        left: 50%;
        z-index:9999;
        top:50%;
        transform:translate(-50%,-50%);

}


footer {
    box-sizing: border-box;
    background-color: #040404;
    height: 5vh;
    padding: 10px 0px;
    text-align: center;
    color: white;
    font-size: 20px;
}

/* ADDITIONAL ITEMS */

@keyframes rotateSpinner {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

.loginForm label.loginMessages{
    display:flex;
    justify-content: center;
    margin-top: 10px;
}
.littleSpinner{
  
    width:25px;
    height:25px;
    border: 4px solid #262626;
    border-top: 4px solid rgb(255,51,51);
    border-bottom: 4px solid rgb(255,51,51);
    border-radius: 50%;

    animation: rotateSpinner .5s linear infinite;

}

.inputError{
    font-size: 16px;
    color:red;
}
/* ---------------------------------------------------------------------------- */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: red; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkred; 
}


@media screen and (max-width: 1080px) {

    .mainPageHeader{
        height:auto;
        padding: 0px 32px;
    }

    .underTitle , .secondUnderTitle{
        display:none;
    }

    .mainPageMain{
        height:auto;
        padding: 25px;
    }

    .grid{
        grid-template-columns: auto;
        grid-row-gap:50px;
    }

    .item{
        width:85%;
        margin-left:auto;
        margin-right:auto;

    }

    .itemInfo, .itemSecondInfo{
        /* opacity: 1;  */
        font-size:15px;
    }
    /*
    .itemInfo{
        top:35%;
    }

    .itemSecondInfo{
        top:50%;
    }
    */
}


@media screen and (max-width: 650px)
{


    .item{
        width:100%;
    }

    .caption{
        font-size: 30px;
    }
}