.userContentData {

    width: 90%;
    /*width:90%;*/
    top: 100px;
    margin: 0;
    padding: 0;
    animation-name: fadeIn;
    animation-duration: .1s;
    animation-delay: .5s;
    margin: 50px auto;
}

/* Edit profile */
/* --------------------------------------------------------------------------------------------- */

.editProfileForm {
    width: 100%;
}

.editProfileForm label {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

.editProfileForm input[type="text"],
.editProfileForm input[type="password"] {
    border-radius: 0px;
    box-shadow: none;
    border-bottom: 2px solid #151515;
    background-color: #151515de;
    color: cornsilk;
}

.editProfileForm input[type="text"]::placeholder,
.editProfileForm input[type="password"]::placeholder {
    color: cornsilk;
}

.editProfileForm input[type="text"]:focus {
    box-shadow: none;
    background-color: rgba(63, 63, 63, 1);
}

.editProfileRow .col-lg-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editProfileRow .userAvatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
}

.editProfileRow label {
    font-size: 20px;
}

.editProfileRow input {
    font-size: 20px;
}

.editProfileRow hr {
    border-color: #262626 !important;
}

.editProfileForm .btn {
    width: 50%;
    border-radius: 0;
}

/*-----------------------------------------------------------*/
/* The container */
.loginFormCheckContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.loginFormCheckContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #99e699;
}

/* On mouse-over, add a grey background color */
.loginFormCheckContainer:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.loginFormCheckContainer input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.loginFormCheckContainer input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.loggedType {
    position: absolute;
    right: 0%;
    bottom: 0%;
}

.addTrainingButton {
    width: 90%;
    text-align: center;
    color: cornsilk;
    font-size: 20px;
    padding: 8px;
    background-color: #004B8F;
    /* box-shadow: 0px 3px 7px #001133; */
    box-shadow: 0px 0px 5px #001133;
    margin: 5px auto;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s ease;
}

.addTrainingButton:hover {
    background-color: #001133;
    /* box-shadow: 0px 1px 4px white; */
}


/* New training */
/* --------------------------------------------------------------------------------------------- */

.newTrainingContainer {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #003567;
    z-index: 10;
    animation-duration: .5s;
    overflow: auto;
}

.newTrainingContainer .hideTrainingDetails {
    right: 0%;
    top: 0%;
    border-radius: 0;
}

.newTrainingHeader {
    border-bottom: 2px solid cornsilk;
    background-color: #001133;
}

.newTrainingTittle {
    display: inline-block;
    padding-left: 5px;
    text-align: left;
    color: cornsilk;
    font-size: 20px;
    padding: 8px;

}

.newTrainingForm {
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
}

.newTrainingForm h3 {
    color: cornsilk;

}

.newTrainingForm .form-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

.newTrainingForm textarea {
    background-color: cornsilk !important;
    color: #262626;
}

.newTrainingForm label {
    color: cornsilk;
    font-size: 18px;
}

.newTrainingForm .btn {
    width: 50%;
    border-radius: 0;
}



.trainingFullDate,
.durationPrice,
.weeksCounter {
    display: flex;
    justify-content: space-between
}

.weeksCounter {
    justify-content: space-between;
    align-items: center;
}

.weeksCounter div {
    width: 50%;
}

.weeksCounter input {
    width: 95%;
}

.trainingTime,
.trainingDate,
.trainingDurationForm,
.trainingPrize {
    width: 48%;
}

.newTrainingButtons {
    position: relative;
    bottom: 0% !important;
}

.newTrainingForm input[type="radio"] {
    transform: scale(1.5);
    margin-right: 5px;
    cursor: pointer;
}

.newTrainingForm .daysToRepeat {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.newTrainingForm .daysToRepeat .form-group {
    margin-top: 0;
    margin-right: 5px;
    font-size: 18px;
    color: cornsilk;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newTrainingForm .daysToRepeat .form-group input {
    transform: scale(1.5);
    cursor: pointer;
}

.repeatTrainingLabel {
    margin-bottom: 0;
}

.newTrainingForm input[type="number"] {
    width: 30%;
}

.gymFormGroup {
    position: relative;
}

.selectedGymsContainer ,.selectedUsersContainer {
    width: 100%;
    position: absolute;
    ;
    top: 105%;
    /* height:100px; */
    border-radius: 5px;
    background-color: cornsilk;
    padding: 5px;
    z-index : 100;
}

.selectedGymItem {
    font-size: 15px;
}

.selectedGymHeader {
    position: relative;
}

.closeList {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 10%;
    text-align: center;
    cursor: pointer;
    transition: .2s ease;
    font-size: 20px;
}

.closeList:hover {
    color: rgb(94, 91, 91);
}

.selectedGymsContainer ul ,.selectedUsersContainer ul {
    padding: 5px 0 0 0;
    margin: 0;
    
}

.selectedGymsContainer ul li , .selectedUsersContainer ul li{
    transition: .3s ease;
    cursor: pointer;
    border-bottom : 1px solid #262626;
}


.selectedGymsContainer ul li:hover ,.selectedUsersContainer ul li:hover {
    background-color: #3b3a3a;
    color: cornsilk;
}

.trainer-profile-edit li {
    border-bottom:none !important;
}

.editProfileRow h4 i.fa-plus{
    cursor:pointer;
    transition: .3s ease;
}

.editProfileRow h4 i.fa-plus:hover{
    color : forestgreen;
}

.packageItem i.fa-trash, 
.packageItem i.fa-pen,
.skillItem i.fa-trash,
.skillItem i.fa-pen {
    cursor: pointer;
    opacity : 0;
    transition : .3s ease;
}

.packageItem, .skillItem {
    transition : .3s ease;
    border-radius : 10px;
}
.packageItem:hover, .skillItem:hover{
    box-shadow: 0px 0px 0px 1px #151515;
}

.packageItem:hover i, .skillItem:hover i {
    opacity : 1;
}

.trainerProfileEditContainer{
    position : absolute;
    width:100%;
    height:100%;
    z-index: 999999;
    left:0;
    top:0;
    background-color: rgba(63,63,63,0.8);
    animation-duration : .5s;
}

.trainerProfileEditContainer form {
    position: absolute;
    bottom : 5%;
    left:25%;
    border-radius : 10px;
    animation-duration : .5s;
}

.closeEditForm{
    right: 10px;
    top:10px;
    font-size: 25px;
    cursor:pointer;
    transition : .3s;
}

.closeEditForm:hover{
    color: rgb(255,51,51);
}